<title>Waxe - True Empowerment</title>
{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
    {% assets filters="cssmin", output="gen/packed.css", "css/site.css" %}
          <link rel="stylesheet" href="{{ ASSET_URL }}"/>
          <link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans" rel="stylesheet"> 
          <script src="{{ url_for('static', filename = 'src/jquery/jquery-3.1.1.min.js') }}"></script>
          
    {% endassets %}
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename = 'img/waxe3.png') }}" style="display: inline-block; "></img></a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% include "security/_menu.html" %}
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="#">Link</a></li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Debug All Views<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/register">Register</a></li>
            <li><a href="/auth/reset">PasswordReset</a></li>
            <li><a href="/dashboard">CampaignsDashboard</a></li>
            <li><a href="/createcampaign/step1">CreateCampaignStep 1</a></li>
            <li><a href="/createcampaign/step2">CreateCampaignStep 2</a></li>
            <li><a href="/createcampaign/step3">CreateCampaignStep 3</a></li>
            <li><a href="/createcampaign/step4">CreateCampaignStep 4</a></li>
            <li><a href="/createcampaign/step5">CreateCampaignStep 5</a></li>
            <li class="divider"></li>
            <li><a href="/">Waxe Home</a></li>
            <li><a href="/about">Waxe About</a></li>
            <li><a href="/account">AccountInformation 1</a></li>
            <li><a href="/viewcampaign/description/3oZsl0Ls7Qz7SO0F5OTb">ViewCampaign Description</a></li>
            <li><a href="/viewcampaign/action">ViewCampaign Action</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}

    <div class="container-fluid">
    {{ content }}
    </div>
{% endblock %}