h1 {
	font-family: 'Open Sans', sans-serif; font-size:32pt; font-weight: 700; color: #DD1111;
}

h3 {
	font-family: 'Nunito', sans-serif; font-size:14pt; font-weight:bold;
}
/* general styles */
html, body {
height: 100%;
width: 100%;
}
/* padded section */
.pad-section {
padding: 50px 0;
}
.pad-section img {
width: 100%;
}
/* vertical-centered text */
.text-vcenter {
display: table-cell;
text-align: center;
vertical-align: middle;

}
.text-vcenter h1 {
font-size: 6.5em;
font-weight: 700;
margin: 0;
padding: 0;
}
/* additional sections */
#home {
/*background: url("{{ url_for('static', filename = 'img/bg.jpg') }}") no-repeat center center fixed;*/ 
display: table;
height: 80vh;
position: relative;
width: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#about {
}
#services {
background-color: #306d9f;
color: #ffffff;
}
#services .glyphicon {
border: 2px solid #FFFFFF;
border-radius: 50%;
display: inline-block;
font-size: 60px;
height: 140px;
line-height: 140px;
text-align: center;
vertical-align: middle;
width: 140px;
}
#information {
background: url(../images/estate.jpg) no-repeat center center fixed; 
display: table;
height: 800px;
position: relative;
width: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#information .panel {
opacity: 0.85;
}
#google_map {
height: 500px;
}
footer {
padding: 20px 0;
}
footer .glyphicon {
color: #333333;
font-size: 60px;
}
footer .glyphicon:hover {
color: #306d9f;
}

.navbar-brand {
max-height: 50px;
padding-top: 0px;
}
.navbar {
min-height: 55px;
margin-bottom:0;
}
.even {
padding:5px;
margin:5px;
border: 3px solid;
border-color: rgb(255, 17, 17);
border-radius: 7px;
background-color: rgb(255, 221, 221);

}
.odd {
padding:5px;
margin:5px;
border: 3px solid;
border-color: rgb(255, 170, 136);
border-radius: 7px;
background-color: rgb(255, 238, 221);
}
.sel {
border: 3px solid;
border-color: rgb(255, 17, 17);
border-radius: 7px;	
background-color: rgb(255,238,221);

}
.parlselect {
	
background-color: #DDD;
padding: 5px;
border: 2px inset;
}
