{% extends "base.html" %}

{% block title %}
CreateCampaign Step1
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
		{{ content }}
        {% block form_content %}{% endblock %}
    </div>
    <div class="col-xs-2"></div>
</div>
{% endblock %}
