{% extends "base.html" %}

{% block title %}
ViewCampaign Action
{% endblock %}

{% block content %}

<!--<div class="container">
	<div class="row">
	<div class="col-sm-3">
		<img src="{{ url_for('static', filename = 'img/waxe2.png') }}" style="display: inline-block; "></img>
	</div>
	
	<div class="col-sm-9" style="background-color:white;"> <a href="#about" class="btn btn-danger btn-lg">Create New Campaign</a> </div>

</div>
<div class="row">
	
	<div class="col-sm-12">
		<div class="col-sm-12 odd"><div class="col-sm-6"><img src="{{ url_for('static', filename = 'img/waxe3.png') }}" style="display: inline-block; "></img></div><div class="col-sm-6"><h3>Activity:</h3>
				<ul>
					<li>Participants: 500</li>
					<li>Calls so far: 327</li>
					<li>Target: 550 calls</li>
				</ul><h3>Created on: </h3>12.12.2016</div></div>
		<div class="col-sm-12 even"><div class="col-sm-6"><img src="{{ url_for('static', filename = 'img/waxe3.png') }}" style="display: inline-block; "></img></div><div class="col-sm-6"><h3>Activity:</h3>
				<ul>
					<li>Participants: 500</li>
					<li>Calls so far: 327</li>
					<li>Target: 550 calls</li>
				</ul><h3>Created on: </h3>12.12.2016</div></div>
		<div class="col-sm-12 odd"><div class="col-sm-6"><img src="{{ url_for('static', filename = 'img/waxe3.png') }}" style="display: inline-block; "></img></div><div class="col-sm-6"><h3>Activity:</h3>
				<ul>
					<li>Participants: 500</li>
					<li>Calls so far: 327</li>
					<li>Target: 550 calls</li>
				</ul><h3>Created on: </h3>12.12.2016</div></div>
		<div class="col-sm-12 even"><div class="col-sm-6"><img src="{{ url_for('static', filename = 'img/waxe3.png') }}" style="display: inline-block; "></img></div><div class="col-sm-6"><h3>Activity:</h3>
				<ul>
					<li>Participants: 500</li>
					<li>Calls so far: 327</li>
					<li>Target: 550 calls</li>
				</ul><h3>Created on: </h3>12.12.2016</div></div>

		
</div>
	</div>
</div>

-->

 <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
          <h1>Campaigns Dashboard</h1> <p><a href="/createcampaign/step1" class="btn btn-danger btn-lg">Create New Campaign</a></p> 
          
          <h3>Open Campaigns:</h3>
          <div id="campaigns" class="row placeholders">
          	{% for campaign in campaign_info_list %}
          		{% if campaign_code == campaign.campaign_code %}
          			<div class="campaign_item col-xs-6 col-sm-3 placeholder sel" campaign_id={{campaign.campaign_code}}>
          		{% else %}
          			<div class="campaign_item col-xs-6 col-sm-3 placeholder" campaign_id={{campaign.campaign_code}}>
          		{% endif %}
		              <img src={{"../" + campaign.campaign_picture}} width="200" height="200" class="img-fluid" alt="Generic placeholder thumbnail">
		              <h4>{{campaign.title}}</h4>
		              <span class="text-muted">Created: {{campaign.creation_date|strftime}}<p>Participants: {{campaign.participant_count}}</p><p>Calls made: {{campaign.call_count}}</p></span>
		            </div>
          	{% endfor %}
          	
          </div>

          <h2>Campaign Details</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <!--<th>Participant ID</th>-->
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>email</th>
                  <th>Calls Made</th>
                </tr>
              </thead>
              <tbody>
              	{% for participant in participant_info_list %}
              		{% if loop.index % 2 == 0 %}
              			<tr class="even">
              		{% else %}
              			<tr class="odd">
              		{% endif %}
		                  <!--<td>1,001</td>-->
		                  <td>{{participant.first_name}}</td>
		                  <td>{{participant.last_name}}</td>
		                  <td>{{participant.email}}</td>
		                  <td>{{participant.calls_made}}/{{parliamentarian_list_count}}</td>
		                </tr>
              	{% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

	
	<script type="text/javascript"> 
        
        $( document ).ready(function() {
		    
		    $(".campaign_item").click(function(){
		    	
		    	window.location = $(this).attr("campaign_id");
		    });
		    
		});
        
    </script> 
    
{% endblock %}


