{% extends "base.html" %}

{% block title %}
CreateCampaign Step1
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
		{{ content }}
        {% block form_content %}
        
        <h1>Create a new campaign</h1>
        <p>Start a new campaign.  First let's get some basic information about what the campaign will be about.</p>
        <div class="form-group parlselect">
        	<label for="title">Campaign Title</label>
    		<textarea class="form-control" id="title" rows="1"></textarea>
        	
    		<label for="description">Campaign Description</label>
    		<textarea class="form-control" id="description" rows="3"></textarea>
    		
    		<label for="specific_guidelines">Specific Campaign Guidelines</label>
    		<textarea class="form-control" id="specific_guidelines" rows="4"></textarea>
  		
  			<hr>
  			
			<label for="talking_point_list">Talking Points</label>  
			<p>Each talking point will ask the caller to write in feedback about how the contact reacted to the point.</p>			
  			
  			<textarea class="form-control" id="talking_point_list" rows="1"></textarea>
  			<a href="{# talking_point_list.additem #}" class="btn btn-danger btn-lg">Add a talking point</a>
  			<p>
  			<a href="{#url_for('step2.html') #}" class="btn btn-success btn-lg">Continue</a></p> 
  		</div>
        
        {% endblock %}
    </div>
    <div class="col-xs-2"></div>
</div>
{% endblock %}