{% extends "base.html" %}

{% block title %}
CreateCampaign Step5
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
		{{ content }}
        {% block form_content %}{% endblock %}
        <h1>Your campaign has been created</h1>
        <div class="row parlselect">
       
        <h2>Your campaign code is </h2><h1>GR3TH4 {# campaign.campaign_code #}</h1>
        <br><br>
        <h2>How to share your campaign:</h2>
        
        <p>Copy and paste the link to your campaign. Your participants will have to manually enter their email:</p>
        <h1>http://www.website.com/GR3TH4{# campaign.campaign_code #}</h1>
        <br><br>
        
        </div>
        <div>
        <button type="submit" class="btn btn-success btn-default" style="float:center;"><span class="glyphicon glyphicon-ok"></span> Back to Dashboard </button>
        </div>
    </div>
    <div class="col-xs-2"></div>
</div>
{% endblock %}
