{% extends "base.html" %}

{% block title %}
CreateCampaign Step2
{% endblock %}

{% block content %}

<div class="col-xs-2">
		<p>Campaign: {# campaign.title #}</p>
		<p>Description: {# campaign.description #}</p>
		<p>Specific Guidelines: {# campaign.specific_guidelines #}</p>
		
		<p>Talking Points: {% for talking_point in talking_point_list %}
        	<div>-{{ talking_point.talking_point }}</div>
        {% endfor %}</p>
</div>
    <div class="col-xs-8">
    	
		{{ content }}
        {% block form_content %}
        
        <h1>Who is this campaign targeting?</h1>
        <p>Choose one or more relevant people you want your campaigners to contact with their concerns</p>
        	<label for="srch-term">Search by name, postal code, or constituency</label>
    		<form class="navbar-form" role="search">
        		<div class="input-group">
	            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
	            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
        
        <div class="row parlselect">
        
        	<div class="col-xs-8 col-sm-6">
        		{# for parliamentarian in parliamentarian_list #}
        		<div class="row {# evenodd #}"> <!-- What I want to do is assign alternating rows different background colours in css. can we put even/odd in the class here dynamically? -->
	        		<img src="{# parliamentarian.photo_main_url #}"></img> commented out to get it to work
	        		<p>Name: {# parliamentarian.full_name #}</p>
	        		<p>Party: {# parliamentarian.party #}</p>
	        		<p>Constituency: {# parliamentarian.constituency_main #}
	        		
	        		<button type="button" class="btn btn-info btn-sm" id="biobtn" data-toggle="modal" data-target="#biomodal">Bio</button>
	        		<button type="button" class="btn btn-success btn-sm" id="addbtn">Add</button> <!--I have no idea what code to put here-->
	        		</p>
        		</div>
        		
        		{# endfor #}
        	</div>
      	
        	<div class="col-xs-4 col-sm-6">
        	<h2>Selected:</h2>
        	 {# for parliamentarian in parliamentarian_selected_list #}
        	    <p>
        	    	Name: {# parliamentarian.full_name #} Party: {# parliamentarian.party #} Constituency: {# parliamentarian.constituency_main #}
        	    	<span class="glyphicon glyphicon-remove"></span>
        	    </p>
        	{# endfor #}
        	</div>
        	
        </div>       
        
        
        
        {% endblock %}
    </div>
    <div class="col-xs-2"></div>
</div>


<!-- Modal -->
<div class="modal fade" id="biomodal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      	<div class="modal-content">
        	<div class="modal-header" style="padding:35px 50px;">
          		<button type="button" class="close" data-dismiss="modal">&times;</button>
          		<h4>Name: {# parliamentarian.full_name #}</h4>
        	</div>
        	<div class="modal-body" style="padding:40px 50px;">
           		<div><img src={# parliamentarian.photo_main_url #}></div>
	        	<div>Country: {# parliamentarian.country #}</div>
	        	<div>Phone number: {# parliamentarian.office_phonenumber_main #}</div>
	        	<div>Email: {# parliamentarian.office_email_main #}</div>
	        	<div>Constituency: {# parliamentarian.constituency_main #} - {#parliamentarian.constituency_detail#} [{#parliamentarian.constituency_number#}]</div>
	        	
	        </div>
        	<div class="modal-footer">
          	<button type="submit" class="btn btn-success btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Cool </button>
          
        	</div>
     	</div>
     </div>
</div>

{% endblock %}

