{% extends "base.html" %}

{% block title %}
CreateCampaign Step3
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
		{{ content }}
        {% block form_content %}{% endblock %}
        
        <h1>Verify General Guidelines</h1>
        <p>General guidelines usually remain the same from campaign to campaign. In most cases if you have specific requirements for your campaigners, you would specify
        	them in the "specific guidelines" section.  In the rare case that the general guidelines need to be modified, you may do that here.</p>
   		<div class="row parlselect">
   		<form>
   		
   		<textarea class="form-control" rows="10">
   		"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
   		
   			
   			-Sed ut perspiciatis unde omnis iste natus
   			-beatae vitae dicta sunt explicabo. Nemo enim ipsam
   			-At vero eos et accusamus
   			
   		
   		</textarea>
		<div class="checkbox">
		    <label>
		      <input type="checkbox"> Looks good.
		    </label>
  		</div>
  			<button type="submit" class="btn btn-success btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Continue </button>
		</form>
   		</div>
   	    
   	        
    </div>
    <div class="col-xs-2"></div>
</div>
{% endblock %}
