{% extends "base.html" %}

{% block title %}
CreateCampaign Step4
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-2">
		<p>Campaign: {# campaign.title #}</p>
		<p>Description: {# campaign.description #}</p>
		<p>Specific Guidelines: {# campaign.specific_guidelines #}</p>
		
		<p>Talking Points: {% for talking_point in talking_point_list %}
        	<div>-{{ talking_point.talking_point }}</div>
        {% endfor %}</p>
	</div>
    <div class="col-xs-8">
    	
		{{ content }}
        {% block form_content %}
        
        <h1>Preview your Campaign</h1>
        <p>This is what your participants will see. Take a look and make sure the information is correct before continuing.</p>
        	
        
        <div class="row parlselect">
        
        	<div class="col-xs-8 col-sm-6">
        		
        	<h2>Specific Guidelines</h2>	
        	{# specific_guidelines #}
        	<h2>Talking Points</h2>
        	{# for talking_point in talking_point_list #}
        	<ul>
        		<li>{# talking_point #}</li>
        	</ul>
        	
        	
        	{# endfor #}
        	<h2>General Guidelines</h2>
        		{# general_guidelines #}
        	</div>
      	
        	<div class="col-xs-4 col-sm-6">
        	<h2>Selected:</h2>
        	 {# for parliamentarian in parliamentarian_selected_list #}
        	    <p>
        	    	Name: {# parliamentarian.full_name #} Party: {# parliamentarian.party #} Constituency: {# parliamentarian.constituency_main #}
        	    	<span class="glyphicon glyphicon-remove"></span>
        	    </p>
        	{# endfor #}
        	
        	<p>
  			<a href="{#url_for('step2.html') #}" class="btn btn-success btn-lg">Looks good. Continue</a></p> 
        	</div>
        	
        </div>       
        
        
        
        {% endblock %}
    </div>
    <div class="col-xs-2"></div>
</div>



{% endblock %}
