{% extends "base.html" %}

{% block title %}
ViewCampaign Action
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
		{{ content }}
        {% block form_content %}{% endblock %}
        <div><h1>Save the bees {# campaign.title #}</h1></div>
        <p>{# campaign.description #}This is a description of the campaign.Here you can learn about the specific action we're campaigning for</p> 
    	<h2>Dr. Marie Sample, MdB{# parliamentarian.full_name #}</h2>
    	<p>Head of Apiaries and Bee Legislation{# parliamentarian.ministerial_role_information #}</p>
    	<h3>Main Office Tel: +491111111111{# parliamentarian.office_phonenumber_main #}</h3>
    	<div class="row">
	    	<div class="col-xs-6">
	    		<h3>General Guidelines</h3>
	    		You're about to make an important step in the political process.  Call this politician and let them know how you feel about the talking points. Write feedback in the form here and let us know how it goes.
	    		{# campaign.general_guidelines #}
	    		
	    		<h3>Specific Guidelines</h3>
	    		Remember this important thing:
Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. 
	    		{# campaign.specific_guidelines #}
	    		
	    		
	    	</div>
	    	
	    	
	    	
	    	<div class="col-xs-6 parlselect">
	    		<h3>Feedback Form</h3>
	    		<p>Fill this form out while you're on the call. When you are done, press submit and share the feedback with everyone else!</p>
	    		<form>
	    			<div class="form-group">
    					<label for="AnsweredPhone">Who in the office did you talk to?</label>
    					<input type="text" class="form-control" id="AnsweredPhone" placeholder="Name">
  					</div>
	    			<div class="form-group">
	    				<label for="callrating">Overall how did the call go?</label>
	    				<label class="radio-inline">
  						<input type="radio" name="callrating" id="inlineRadio1" value="option1"> Bad
						</label>
						<label class="radio-inline">
  						<input type="radio" name="callrating" id="inlineRadio2" value="option2"> OK
						</label>
						<label class="radio-inline">
  						<input type="radio" name="callrating" id="inlineRadio3" value="option3"> Good
						</label>
	    			</div>
	    			<h3>Please record how the contact responds when you bring up each talking point</h3>
	    			{# for talking_point in talking_point_list  #}
	    			<div class="form-group">
	    				<label for="{# talking_point.id #}">
	    					Talking point:{# talking_point.talking_point#} 
	    				</label>
	    				<textarea class="form-control" name="{# talking_point.id #}" rows="3"></textarea>
	    				
	    			</div>
	    			{# endfor #}
	    			
	    			<div class="form-group">
	    				<label for="notes">Finally, do you have any other notes from this call?</label>
	    				<textarea class="form-control" name="notes" rows="3"></textarea>
	    			</div>
	    			<button type="submit" class="btn btn-success btn-default" style="float:center;"><span class="glyphicon glyphicon-ok"></span> Submit Call Feedback </button>
	    		</form>
	    	</div>
    	</div>
    </div>
    <div class="col-xs-2"></div>
</div>
{% endblock %}
