{% extends "base.html" %}

{% block title %}
ViewCampaign Description
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
		{{ content }}
        {% block form_content %}{% endblock %}
        <br />
        <br />
        <div>Title: {{ campaign.title }}</div>
        <div>Description: {{ campaign.description }}</div>
        <br />
        <div>Call a Relevant Politician</div>
        <br />
        {% for parliamentarian in parliamentarian_list %}
        	<div>Name: {{ parliamentarian.full_name }}</div>
        	<div>Country: {{ parliamentarian.country }}</div>
        	<div>Phone number: {{ parliamentarian.office_phonenumber_main }}</div>
        	<div>Email: {{ parliamentarian.office_email_main }}</div>
        	<div>Constituency: {{ parliamentarian.constituency_main }} - {{parliamentarian.constituency_detail}} [{{parliamentarian.constituency_number}}]</div>
        	<img src={{ parliamentarian.photo_main_url }}>
        	{% if parliamentarian in parliamentarians_contacted_list %}
        	<div>Contacted</div>
        	{% else %}
        	<div>Not contacted</div>
        	{% endif %}
        {% endfor %}
        <br />
        <br />
        {% for call in call_list %}
        	<div>Name: {{ call.name_responder }}</div>
        {% endfor %}
        <div>{{total_parliamentarians_contacted}} of {{total_parliamentarians}} Contacted</div>
        <br />
        <br />
        <div>Specific Guidelines</div>
        <br />
        <div>{{campaign.specific_guidelines}}</div>
        <br />
        <br />
        <div>Talking Points</div>
        <br />
        {% for talking_point in talking_point_list %}
        	<div>-{{ talking_point.talking_point }}</div>
        {% endfor %}
        <br />
        <br />
        {{participant_list|length}} Participants
        <br />
        {% for participant in participant_list %}
        	<div>-{{ participant.referenced_user.username }}</div>
        {% endfor %}
        
    </div>
    <div class="col-xs-2"></div>
</div>
{% endblock %}
