{% extends "base.html" %}


{% block content %}

	<!--<script type="application/javascript">
			
		setTimeout(function(){
		   window.location.reload();
		}, 3000);
		
	</script>-->



<!-- first section - Home -->
<div id="home" class="home" style="background: url({{ url_for('static', filename = 'img/bg.jpg') }}) no-repeat center center fixed; padding-top:0;">
<div class="col-sm-6" style="height:10vh;"> </div>
<div class="col-sm-6 col-sm-offset-3 text-vcenter" style="background-color:white;">

<h1>Introducing Waxe</h1>
<h3>True Empowerment</h3>

<div class="odd"><span style="float:left;">thing.</span><span style="float:right;">Other thing</span>This is a campaign</div>

<div class="even"><span style="float:left;">thing.</span><span style="float:right;">Other thing</span>This is a campaign</div>
<div class="odd"><span style="float:left;">thing.</span><span style="float:right;">Other thing</span>This is a campaign</div>
<div class="even"><span style="float:left;">thing.</span><span style="float:right;">Other thing</span>This is a campaign</div>

<a href="#about" class="btn btn-default btn-lg">Continue</a>


</div>
</div>
<!-- /first section -->

<!-- second section - About -->
<div id="about" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-6">
<img src="images/logo.png" alt="" />
</div>
<div class="col-sm-6 text-center">

<blockquote>"Look at a stone cutter hammering away at his rock, perhaps a hundred times without as much as a crack showing in it. Yet at the hundred-and-first blow it will split in two, and I know it was not the last blow that did it, but all that had gone before." Jacob Riis</blockquote>
<p class="lead">Waxe lets you organize, and participate in political calling campaigns.


Sharing news raises awareness.  Taking action with Waxe changes the world.</p>
</div>
</div>
</div>
</div>
<!-- /second section -->

<!-- third section - Services -->
<div id="services" class="pad-section">
<div class="container">
<h2 class="text-center">Our Services</h2> <hr />
<div class="row text-center">
<div class="col-sm-3 col-xs-6">
<i class="glyphicon glyphicon-cloud"> </i>
<h4>Service 1</h4>
<p>Linda wants to support a law that will save the bees.  She joins the campaign on Waxe, and on her dashboard are the most influential politicians for the bill.  She chooses one to call, sees the phone details, and relevant talking points, and a feedback form she fills out as the call goes on. When the call is over, her progress is recorded, and she can see how she contributed to actually making the change.</p>
</div>
<div class="col-sm-3 col-xs-6">
<i class="glyphicon glyphicon-leaf"> </i>
<h4>Service 2</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
</div>
<div class="col-sm-3 col-xs-6">
<i class="glyphicon glyphicon-phone-alt"> </i>
<h4>Service 3</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
</div>
<div class="col-sm-3 col-xs-6">
<i class="glyphicon glyphicon-bullhorn"> </i>
<h4>Service 4</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
</div>
</div>
</div>
</div>
<!-- /third section -->
<!-- fourth section - Information -->
<div id="information" class="pad-section">
<div class="container">
<div class="row">
<div class="col-sm-6">
<div class="panel panel-default">
<div class="panel-heading">
<h2 class="panel-title">Additional information</h2>
</div>
<div class="panel-body lead">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Duis euismod, augue et tempus consequat, lorem mauris porttitor quam, consequat ultricies mauris mi a metus. Phasellus congue, leo sed ultricies tristique, nunc libero tempor ligula, at varius mi nibh in nisi. Aliquam erat volutpat. Maecenas rhoncus, neque facilisis rhoncus tempus, elit ligula varius dui, quis amet. 
</div>
</div>
</div>
<div class="col-sm-6">
<div class="panel panel-default">
<div class="panel-heading">
<h2 class="panel-title">Additional information</h2>
</div>
<div class="panel-body lead">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Duis euismod, augue et tempus consequat, lorem mauris porttitor quam, consequat ultricies mauris mi a metus. Phasellus congue, leo sed ultricies tristique, nunc libero tempor ligula, at varius mi nibh in nisi. Aliquam erat volutpat. Maecenas rhoncus, neque facilisis rhoncus tempus, elit ligula varius dui, quis amet. 
</div>
</div>
</div>
</div>
</div>
</div>
<!-- /fourth section -->

{% endblock %}
